/*header section*/
/*variables and mixins*/
/* line 4, ../../src/scss/header.scss */
.header {
  display: grid;
  grid-template-columns: 75px auto;
  grid-template-areas: "logo links";
  background: lightblue;
}
/* line 9, ../../src/scss/header.scss */
.header-icon-container {
  grid-area: logo;
  width: 100%;
}
/* line 13, ../../src/scss/header.scss */
.header-icon {
  width: 100%;
  background: cover;
}
/* line 19, ../../src/scss/header.scss */
.header-links-container {
  grid-area: links;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* line 25, ../../src/scss/header.scss */
.header-link {
  color: blue;
  text-decoration: none;
}
