/*header section*/
/*variables and mixins*/
/* line 4, ../../src/scss/header.scss */
.header {
  display: grid;
  grid-template-columns: 75px auto;
  grid-template-areas: "logo links";
  background: lightblue;
  border-bottom: 2px white solid;
}
/* line 10, ../../src/scss/header.scss */
.header--icon-container {
  grid-area: logo;
  width: 100%;
}
/* line 14, ../../src/scss/header.scss */
.header--icon {
  width: 100%;
  background: cover;
}
/* line 20, ../../src/scss/header.scss */
.header--links-container {
  grid-area: links;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* line 26, ../../src/scss/header.scss */
.header--link {
  color: white;
  text-decoration: none;
  transition: color .55s;
}
/* line 30, ../../src/scss/header.scss */
.header--link:hover {
  color: blue;
}
