/*main-section*/
/*variables and mixins*/
/* line 12, ../../src/scss/variables.scss */
.page {
  display: block;
  position: relative;
  width: calc(100% - $scrollWidth);
  height: 700px;
}

/* line 4, ../../src/scss/main-section.scss */
.main-section {
  display: block;
}
/* line 7, ../../src/scss/main-section.scss */
.page {
  /*background: hsl(random(180) - 100, 50%, 70%);
  border: 2px black solid;*/
}

/* line 14, ../../src/scss/main-section.scss */
.landing-page {
  display: grid;
  grid-template-rows: 85% 15%;
  grid-template-areas: "hero" "info";
  background: lightblue;
}
/* line 20, ../../src/scss/main-section.scss */
.landing-page--hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: blue;
}
/* line 28, ../../src/scss/main-section.scss */
.landing-page--info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: blue;
}

/* line 35, ../../src/scss/main-section.scss */
.services-page {
  display: grid;
  grid-template-rows: 12% 88%;
  grid-template-areas: "title" "info";
}
/* line 40, ../../src/scss/main-section.scss */
.services-page--title {
  grid-area: title;
  text-align: center;
  padding: 15px;
  background: lightblue;
}
/* line 46, ../../src/scss/main-section.scss */
.services-page--info-container {
  grid-area: info;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: "list descriptions";
  background: blue;
}
/* line 53, ../../src/scss/main-section.scss */
.services-page--list {
  grid-area: list;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0px 55px 0px;
  background: blue;
}
/* line 62, ../../src/scss/main-section.scss */
.services-page--service-item {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
/* line 67, ../../src/scss/main-section.scss */
.services-page--services-descriptions {
  grid-area: descriptions;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  border-left: 2px white solid;
}
