/*variables and mixins*/
/* line 12, ../../src/scss/variables.scss */
.page-1, .page-2, .page-3 {
  display: block;
  position: relative;
  width: calc(100% - $scrollWidth);
  height: 800px;
}

/*header section*/
/* line 4, ../../src/scss/header.scss */
.header {
  display: grid;
  grid-template-columns: 75px auto;
  grid-template-areas: "logo links";
}
/* line 8, ../../src/scss/header.scss */
.header-icon-container {
  grid-area: logo;
  width: 100%;
}
/* line 12, ../../src/scss/header.scss */
.header-icon {
  width: 100%;
  background: cover;
}
/* line 18, ../../src/scss/header.scss */
.header-links-container {
  grid-area: links;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* line 24, ../../src/scss/header.scss */
.header-link {
  color: white;
  text-decoration: none;
}

/*main-section*/
/* line 5, ../../src/scss/main-section.scss */
.main-section {
  display: grid;
  grid-template-rows: 80% 20%;
  grid-template-areas: "hero" "info";
}
/* line 12, ../../src/scss/main-section.scss */
.page-1 {
  background: #d9d58c;
  border: 2px black solid;
}

/* line 12, ../../src/scss/main-section.scss */
.page-2 {
  background: #bfd98c;
  border: 2px black solid;
}

/* line 12, ../../src/scss/main-section.scss */
.page-3 {
  background: #d98c9a;
  border: 2px black solid;
}

/* width */
/* line 5, ../../src/scss/scroll-component.scss */
::-webkit-scrollbar {
  margin-left: 5px;
  width: 15px;
}

/* Track */
/* line 11, ../../src/scss/scroll-component.scss */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 15px;
}

/* Handle */
/* line 17, ../../src/scss/scroll-component.scss */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 15px;
  box-shadow: inset 2px 0px 2px black;
}

/* Handle on hover */
/* line 24, ../../src/scss/scroll-component.scss */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

/* line 6, ../../src/scss/styles.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 10, ../../src/scss/styles.scss */
html {
  scroll-behavior: smooth;
}

/* line 13, ../../src/scss/styles.scss */
body {
  background: black;
}

/* line 16, ../../src/scss/styles.scss */
.prime-container {
  display: grid;
  width: 100%;
  height: 99vh;
  grid-template-rows: 75px 1fr 75px;
  grid-template-areas: "header" "mainsection" "footer";
}
/* line 25, ../../src/scss/styles.scss */
.prime-container__header {
  grid-area: header;
}
/* line 28, ../../src/scss/styles.scss */
.prime-container__main-section {
  grid-area: mainsection;
  background: #001;
  border: 1px red solid;
  color: white;
  overflow: auto;
}
/* line 33, ../../src/scss/styles.scss */
.prime-container__footer {
  grid-area: footer;
}
