/*variables and mixins*/
/* line 12, ../../src/scss/variables.scss */
.page {
  display: block;
  position: relative;
  width: calc(100% - $scrollWidth);
  height: 800px;
  border-bottom: 2px white solid;
}

/*header section*/
/* line 4, ../../src/scss/header.scss */
.header {
  display: grid;
  grid-template-columns: 75px auto;
  grid-template-areas: "logo links";
  background: lightblue;
  border-bottom: 2px white solid;
}
/* line 10, ../../src/scss/header.scss */
.header--icon-container {
  grid-area: logo;
  width: 100%;
}
/* line 14, ../../src/scss/header.scss */
.header--icon {
  width: 100%;
  background: cover;
}
/* line 20, ../../src/scss/header.scss */
.header--links-container {
  grid-area: links;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* line 26, ../../src/scss/header.scss */
.header--link {
  color: white;
  text-decoration: none;
  transition: color .55s;
}
/* line 30, ../../src/scss/header.scss */
.header--link:hover {
  color: blue;
}

/*main-section*/
/* line 4, ../../src/scss/main-section.scss */
.main-section {
  display: block;
}

/* line 13, ../../src/scss/main-section.scss */
.landing-page {
  display: grid;
  grid-template-rows: 85% 15%;
  grid-template-areas: "hero" "info";
  background: lightblue;
}
/* line 19, ../../src/scss/main-section.scss */
.landing-page--hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: blue;
  color: white;
}
/* line 27, ../../src/scss/main-section.scss */
.landing-page--info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: blue;
}

/* line 34, ../../src/scss/main-section.scss */
.services-page {
  display: grid;
  grid-template-rows: 12% 88%;
  grid-template-areas: "title" "info";
  height: 800px;
}
/* line 40, ../../src/scss/main-section.scss */
.services-page--title {
  grid-area: title;
  text-align: center;
  padding: 25px;
  background: lightblue;
}
/* line 46, ../../src/scss/main-section.scss */
.services-page--info-container {
  grid-area: info;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: "list descriptions";
  background: blue;
}
/* line 53, ../../src/scss/main-section.scss */
.services-page--list {
  grid-area: list;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0px 55px 0px;
  background: blue;
}
/* line 62, ../../src/scss/main-section.scss */
.services-page--service-item {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
/* line 67, ../../src/scss/main-section.scss */
.services-page--services-descriptions {
  grid-area: descriptions;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  color: white;
  border-left: 2px white solid;
}

/* line 78, ../../src/scss/main-section.scss */
.contact-form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
}
/* line 83, ../../src/scss/main-section.scss */
.contact-form-page--form {
  border: 2px white solid;
  padding: 40px;
}
/* line 86, ../../src/scss/main-section.scss */
.contact-form-page--form > label {
  cursor: pointer;
  color: white;
  display: inline;
  padding: 0px 5px;
}
/* line 92, ../../src/scss/main-section.scss */
.contact-form-page--form > input {
  display: block;
  margin: 5px 0px;
  font-size: 1.25rem;
}

/* line 100, ../../src/scss/main-section.scss */
::placeholder {
  text-align: center;
  font-size: 1.25rem;
}

/* line 3, ../../src/scss/footer.scss */
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  background: lightblue;
  border-top: 2px white solid;
}
/* line 10, ../../src/scss/footer.scss */
.footer--link {
  color: white;
  text-decoration: none;
  transition: color .55s;
}
/* line 14, ../../src/scss/footer.scss */
.footer--link:hover {
  color: blue;
}

/* width */
/* line 5, ../../src/scss/scroll-component.scss */
::-webkit-scrollbar {
  margin-left: 5px;
  width: 15px;
}

/* Track */
/* line 11, ../../src/scss/scroll-component.scss */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 15px;
}

/* Handle */
/* line 17, ../../src/scss/scroll-component.scss */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 15px;
  box-shadow: inset 2px 0px 2px black;
}

/* Handle on hover */
/* line 24, ../../src/scss/scroll-component.scss */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

/* line 7, ../../src/scss/styles.scss */
* {
  padding: 0;
  margin: 0;
}

/*html {
  scroll-behavior: smooth;
}*/
/* line 14, ../../src/scss/styles.scss */
body {
  background: #001;
}

/* line 18, ../../src/scss/styles.scss */
.prime-container {
  display: grid;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas: "header" "mainsection" "footer";
  overflow: hidden;
}
/* line 28, ../../src/scss/styles.scss */
.prime-container__header {
  grid-area: header;
}
/* line 31, ../../src/scss/styles.scss */
.prime-container__main-section {
  grid-area: mainsection;
  scroll-behavior: smooth;
  overflow: auto;
}
/* line 36, ../../src/scss/styles.scss */
.prime-container__footer {
  grid-area: footer;
}
