<div class="prime-container__footer">
	<div class="footer">
		<a href="#" class="footer--link">link</a>
		<a href="#" class="footer--link">link</a>
		<a href="#" class="footer--link">link</a>
	</div><!--class="footer"-->
</div><!--class="prime-container__footer"-->