<div class="prime-container__header">
			<div class="header">
				<div class="header-icon-container">
					<a href="#">
						<img class="header-icon" src="./images/logo.svg" alt="No Paso Nado logo">
					</a>
				</div>
				<div class="header-links-container">
					<a href="#page1" class="header-link">link</a>
					<a href="#page2" class="header-link">link</a>
					<a href="#page3" class="header-link">link</a>
				</div>
			</div><!--class="header"-->
		</div><!--class="prime-container__header"-->