<div class="prime-container__main-section">
			<div class="main-section">
				<div class="page landing-page" id="homepage">
					<div class="landing-page--hero">picture</div>
					<div class="landing-page--info">
						<h2>Address: 403 S 10th st, Mcallen,TX 78501</h2>
						<h2>Call Today! (956) 656-0816</h2>
					</div>
				</div><!--landing-->
				<div class="page services-page" id="services">
					<h1 class="services-page--title">Services</h1>
					<div class="services-page--info-container">
						<div class="services-page--list">
							<a href="#" class="services-page--service-item">service provided</a>
							<a href="#" class="services-page--service-item">service provided</a>
							<a href="#" class="services-page--service-item">service provided</a>
							<a href="#" class="services-page--service-item">service provided</a>
							<a href="#" class="services-page--service-item">service provided</a>
							<a href="#" class="services-page--service-item">service provided</a>
							<a href="#" class="services-page--service-item">service provided</a>
							<a href="#" class="services-page--service-item">service provided</a>
						</div>
						<div class="services-page--services-descriptions">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum debitis temporibus perferendis vitae quaerat sint, voluptatem accusantium ab sapiente tempora earum, quod nam blanditiis aliquam mollitia! Doloribus deserunt blanditiis, impedit consectetur quas ea. Vero voluptates quam earum. Dolor quis aliquam tenetur quibusdam illum sed voluptatem, sit, odit unde enim. At.</div>	
					</div>
					
				</div><!--services-page-->

				<div class="page contact-form-page" id="contact-form">
					<form class="contact-form-page--form">
						<label for="name">Name:</label>
						<input type="text" name="name" placeholder="name">
						<label for="email">Email:</label>
						<input type="text" name="email" placeholder="email">
						<label for="phone">Telephone:</label>
						<input type="phone" name="phone" placeholder="555-555-5555" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
						<input type="submit">
					</form>
				</div><!--contact-form-->
			</div><!--class="main-section"-->
		</div><!--class="prime-container__main-section-->


