@import "variables";
@import "header";
@import "main-section";
@import "scroll-component";

*{
	padding: 0;
	margin: 0;
}
html {
  scroll-behavior: smooth;
}
body{
	background: black;
}
.prime-container{
	display: grid;
	width: 100%;
	height: 99vh;
	grid-template-rows: 75px 1fr 75px;
	grid-template-areas:  "header"
						  "mainsection"
						  "footer";
							  
	&__header{
		grid-area: header;
	}
	&__main-section{
		grid-area: mainsection;
		@include b;
		overflow: auto;
	}
	&__footer{
		grid-area: footer;
	}
}