*{
	margin: 0;
}
body{
	background: #234;
}

@mixin b($w:1px,$c:red){
	background:  #001;
	border: $w $c solid;
	color:  white;
}

.prime-container{
	display: grid;
	grid-template-rows: 10vh 80vh 10vh;
	grid-template-areas:  "header"
						  "mainsection"
						  "footer";
	&__header{
		@include b;
	}
	&__main-section{
		@include b;
	}
	&__footer{
		@include b;
	}
}